:root {
    --main: teal;
    --higlight: rgb(255, 255, 255);
}

* {
    margin: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--main);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    padding: 1.5rem;
}

#menuButton {
    background-color: var(--main);
    color: white;
    display: block;
    font-size: 3rem;
    text-decoration: none;
    border: none;
    padding: 0 .5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 1rem;
}

#menuButton::before {
    content: "≡";
}

#menuButton.show::before {
    content: "X";
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: none;
    font-size: 2rem;
}

nav a:hover, nav a:active {
    color: var(--yellow);
    font-weight: 700;
}

nav a:hover~#navmenu~#hambutton {
    background-color: var(--higlight);
    color: #000;
}

nav.show {
    width: 100%;
}

h1.show {
    display: none;
}

.show a {
    display: block;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 1.5rem auto;
    margin-top: 100px;
    flex-grow: 1;
    padding: 10px;
    padding-bottom: 100px;
}

main img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.temples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

figure {
    margin-bottom: 1rem;
}

figcaption {
    text-align: center;
    color: var(--main);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}

.highlight {
    font-size: smaller;
    color: var(--higlight);
}



.temple-card {
  background-color: var(--white);
  border: 1px solid var(--main-transparency);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  border: 1px solid teal
}

.temple-card h3 {
  color: var(--blue);
  margin-bottom: 10px;
}

.temple-card p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: var(--blue);
}

.temple-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}
