body{
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    margin: 1rem auto;
    max-width: 640px;
    border: 1px solid rgba(0, 0, 255, 0.1);
    padding: 1rem;
    background-color: #e6f0fa;
    box-sizing: border-box;
    border-radius: 6px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}